SSO_SP_CERT=./key/ub.arm
SSO_SP_PRIVATEKEY=./key/jwtRS256.key
SSO_SP_PUBLICKEY=./key/jwtRS256.key.pub
SSO_SP_ALGORITHM=sha256
SSO_SP_DESCRIPTION=https://<SP host>/auth/saml
SSO_SP_CALLBACK_SIGNON=https://<SP host>/auth/signonCallback  # https://<SP host>/auth/sso
SSO_SP_CALLBACK_LOGOUT=https://<SP host>/auth/logoutCallback  # https://<SP host>/auth/slo
SSO_IDP_PUBLICKEY=./key/urz_pub.pem
SSO_IDP_SIGNON=https://<IDP host>/idp/profile/SAML2/Redirect/SSO
SSO_IDP_LOGOUT=https://<IDP host>/idp/profile/SAML2/Redirect/SLO