SSO_SP_CERT=./key/ub.arm
SSO_SP_PRIVATEKEY=./key/jwtRS256.key
SSO_SP_PUBLICKEY=./key/jwtRS256.key.pub
SSO_SP_ALGORITHM=sha256
SSO_SP_DESCRIPTION=https://<SP host>/auth/saml
SSO_SP_CALLBACK_SIGNON=https://<SP host>/auth/signonCallback  # https://<SP host>/auth/sso
SSO_SP_CALLBACK_LOGOUT=https://<SP host>/auth/logoutCallback  # https://<SP host>/auth/slo

SSO_IDP_PUBLICKEY=./key/urz_pub.pem
SSO_IDP_SIGNON=https://<IDP host>/idp/profile/SAML2/Redirect/SSO
SSO_IDP_LOGOUT=https://<IDP host>/idp/profile/SAML2/Redirect/SLO
SSO_IDP_ID_FORMAT=urn:oasis:names:tc:SAML:2.0:nameid-format:persistent
SSO_IDP_AUTHN_CONTEXT=urn:oasis:names:tc:SAML:2.0:ac:classes:PasswordProtectedTransport
SSO_IDP_WANT_ASSERTIONS_SIGNED=true
SSO_IDP_UID_FIELD=urn:oid:0.9.2342.19200300.100.1.1
SSO_IDP_BARCODE_FIELD=urn:oid:0.9.2342.19200300.100.1.1

SSO_PREFIX=saml_

LBS_LOGIN_URL=https://xxx.gbv.de/LBS_WEB/login
LBS_CLIENT_AUTH=xxxxxx
LBS_BARCODE_REGEX=^310[0|1]{1}[0-9]{6}[X,0-9]{1}$

JWT_TOKEN_PUBLICKEY=
JWT_TOKEN_PRIVATEKEY=
JWT_TOKEN_EXPIRATION=60s
JWT_TOKEN_ALGORITHM=RS256
